@import "./variables";
@import "vuetify/styles/main.sass";
@import "./override";
@import "./layout/text";
@import "./layout/reboot";
@import "./layout/container";
@import "./layout/sidebar";
@import "./layout/rtl";
@import "./layout/topbar";

@import "./components/VAlert";
@import "./components/VButtons";
@import "./components/VCard";
@import "./components/VCarousel";
@import "./components/VPagination";
@import "./components/VField";
@import "./components/VList";
@import "./components/VInput";
@import "./components/VNavigationDrawer";
@import "./components/VShadow";
@import "./components/VSwitch";
@import "./components/VSelectionControl";
@import "./components/VTextField";
@import "./components/VTextarea";
@import "./components/VTabs";
@import "./components/VTable";
@import "./components/VExpansionpanel";
@import "./components/VTimeline";
@import "./components/VChip";

@import "./fonts";
:root {
  font-size: 16px;
}
// @media screen and (max-width: 600px) {
//   :root {
//     font-size: 14px;
//   }
// }

.has-error {
  color: rgb(var(--v-theme-error)) !important;
}

.page-wrapper {
  padding-top: 0 !important;
}
.my-custom-pagination {
  .v-pagination__list {
    display: flex;
    justify-content: end;
  }
}
.mx-datepicker {
  .mx-input-wrapper {
    // input {
    //     padding:  20px;
    //     border:1px solid #ddd;
    // }
    .mx-icon-calendar,
    .mx-icon-clear {
      margin-top: -10px;
    }
  }
}
.v-input--disabled {
  .v-input__control {
    .v-field--disabled {
      opacity: 0.8;
      border-radius: $border-radius-root !important;
      .v-field__field {
        .v-field__input {
          .v-autocomplete__selection {
            .v-autocomplete__selection-text {
              color: #000 !important;
            }
          }
        }
      }

      border: 1px solid #000;
    }
  }
}

.mx-icon-calendar,
.mx-icon-clear {
  transform: translateY(var(--divider)) !important;
}

.mx-datepicker-popup {
  z-index: 4000 !important;
}

.isDeath {
  position: relative;
  display: flex;
  filter: grayscale(1);
}
.v-btn {
  text-transform: inherit !important;
}

.v-divider {
  opacity: 1 !important;
}

.v-label {
  white-space: inherit;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.limited-text {
  --snup: 3;
  display: -webkit-box;
  -webkit-line-clamp: var(--snup);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.v-list-item-title {
  white-space: inherit;
}
span {
  word-break: break-word;
  white-space: inherit;
}

.w-200 {
  width: 200px;
}

.person-data {
  .divider {
    border-left: 2px solid rgba(var(--v-theme-info));
  }
  .shadow {
    box-shadow: 0px 4px 4px 0px #0000000a;
  }
  span {
    display: block;
    padding: 0.75rem 1rem 0.75rem 1rem;
  }

  .user-list {
    display: grid;
    -webkit-box-align: baseline;
    grid-template-columns: auto 1fr;
    width: 100%;

    .column-2 {
      grid-column: span 2 !important;
    }
    .column-3 {
      grid-column: span 3 !important;
    }

    &.half-col {
      grid-template-columns: repeat(2, auto 1fr);

      @media screen and (max-width: 1560px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 1280px) {
        grid-template-columns: repeat(2, auto 1fr);
        > span {
          grid-column: span 1;
        }
      }
      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        > span {
          grid-column: span 1;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, auto 1fr);
    }
    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr auto;
    }
  }
  @media screen and (max-width: 600px) {
    span {
      padding: 0.25rem 0.875rem;
    }
  }
}

.user-detail-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.application-sticky-bar {
  position: sticky;
  top: 100px;

  @media screen and (max-width: 1300px) {
    position: unset;
  }
}

.ws-nowrap {
  white-space: nowrap;
}
